@font-face {
    font-family: 'Agrandir';
    src: url('./Agrandir-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Agrandir';
    src: url('./Agrandir-TextBold.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  